<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
        <a href="/dashboard">Dashboard</a>
    </nav>


<div>
    <h1>Login</h1>
    <h2>
        <% if (user) { %>
            Welcome, <%= user.username %>!

            <div>
    <h2>Send Message</h2>
    <form method="POST" action="/add-message">
        <input name="title" placeholder="Title" required />
        <textarea name="text" placeholder="Message text" required></textarea>
        <button type="submit">Send</button>
    </form>
</div>

        <% } else { %>
            Please log in to send messages.
        <% } %>
    </h2>

<form method="POST" action="/login">
  <input name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Login</button>
</form>

</div>
    <h1>Messages</h1>
     
        <% messages.forEach(message => { %>
             <div>
                <h2><%= message.title %></h2>
                <p><%= message.author %></p>
                <p><%= message.text %></p>
                <p><%= message.timestamp.toLocaleDateString() %></p>
                <p><%= message.timestamp.toLocaleTimeString() %></p>
             </div><span>delete</span>
        <% }); %>
   
</body>
</html>