<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
        <a href="/dashboard">Dashboard</a>
    </nav>


<div>
    <h1>Login</h1>
    <h2>
        <% if (user) { %>
            Welcome, <%= user.username %>!

            <div>
    <h2>Send Message</h2>
    <form method="POST" action="/add-message">
        <input name="title" placeholder="Title" required />
        <textarea name="text" placeholder="Message text" required></textarea>
        <button type="submit">Send</button>
    </form>
</div>

        <% } else { %>
            Please log in to send messages.
            <form method="POST" action="/login">
  <input name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Login</button>
</form>
        <% } %>
    </h2>

 

</div>
    <h1>Messages</h1>
     
        <% messages.forEach(message => { %>
             <div>
                <h2><%= message.title %></h2>
                
                <p><%= message.text %></p>





                <p>
                    
                     <% if (user && (message.user_id === user.id || user.membership_status === 'member' || user.is_admin === true)) { %>
                        Posted by: <%= message.user_username %>
                      <%= message.timestamp.toLocaleDateString() %> 
               <%= message.timestamp.toLocaleTimeString()   %> 
               <% } %>
                    


                     

                </p>






                
             </div><span>          
            
                 <% if (user && user.is_admin) { %>
                        <a href="/delete">Delete</a>
                        <% } %>
            </span>
        <% }); %>
   
</body>
</html>