 

<%- include('partials/head') %>

<%- include('partials/nav') %>

 <main>

    <div class="container">

         <div>
             <% if (user) { %>
    
      
            
   
    <form class="addmessage-form"  method="POST" action="/add-message">
        <input name="title" placeholder="Title..." required type="text" />
        <textarea name="text" placeholder="Message text..." required></textarea>
        <button type="submit">Send</button>
    </form>
        <% } else { %>
         </div>
         
       
 
       

 
  
     <div>    
        
 <form class="login-form" method="POST" action="/login">
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <button type="submit">Login</button>
</form>

        <% } %>
</div>

            <div class="messagesAll" >
             

     
        <% messages.forEach(message => { %>
             <div class="message-card">
                <h4><%= message.title %></h4>
                
                <p><%= message.text %></p>





                <p style="color: rgb(8, 2, 29); background-color: rgb(222, 235, 248); border-radius: 2%;">
                    
                     <% if (user && (message.user_id === user.id || user.membership_status === 'member' || user.is_admin === true)) { %>
                        Posted by: <%= message.name.charAt(0).toUpperCase() + message.name.slice(1) %> <%= message.last_name.charAt(0).toUpperCase() + message.last_name.slice(1)%>
                      <%= message.timestamp.toLocaleDateString() %> 
               <%= message.timestamp.toLocaleTimeString()   %> 
               <% } %>
                    


                     

                </p>


  <% if (user && user.is_admin) { %>
                       <a href="/messages/<%= message.id %>/delete" 
                        class="delete-btn"
       onclick="return confirm('Are you sure you want to delete this message?')">
         <i class="fa-solid fa-trash"></i>
    </a>
                        <% } %>



                
            </div>        
            
                
           
        <% }); %>
            </div>
     

         
     
</div>

    

 

</div>




    
</main>

 
    
    
   
 <%- include('partials/footer') %>